

---
import BaseLayout from '../../layouts/BaseLayout.astro'
import '../../styles/index.scss'
import BlogCard from '../../components/BlogCard.astro'
import { getCollection } from 'astro:content'

const posts = await getCollection("blog") 
---

<BaseLayout title='Chubi - Software Engineer'>
  <section class="blog">

    <h1>Blog</h1>
    <div class="blog-cards">
    {posts.sort((a,b)=>b.data.pubDate - a.data.pubDate).map((blog) => (
    <BlogCard blog={blog} />
    ))}
    </div>

  </section>
</BaseLayout>
