@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

html,
body {
  margin: 0px;
  font-family: 'NeueMontreal';
}
:root {
  --grey: #f2f2f2;
  --green: #cfd21c;
  --blue: #0b52a1;
  --dark-blue: #002f86;
  --black: #000000;

  --rule-height: 100px;
  --rule-width: 2.5px;
}
a {
  text-decoration: none;
  color: black;
}

.rule {
  &-container {
    display: flex;
    margin: 0 auto;
  }
  height: var(--rule-height);
  width: var(--rule-width);
  background-color: var(--black);
  opacity: 30%;
  &--horizontal {
    width: var(--rule-height);
    height: var(--rule-width);
  }
}
