@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Bold.otf') format('opentype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Light.otf') format('opentype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
:root {
  --grey: #f2f2f2;
  --dark-grey: #667085;
  --green: #cfd21c;
  --blue: #0b52a1;
  --dark-blue: #002f86;
  --bg-color: white;
  --link-color: white;

  --card-radius: 25px;

  --body-padding: 20px;
  --dark-mode-offset: 2em;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.dark-mode {
  &-wrapper {
    position: fixed;
    z-index: 5;
    bottom: var(--dark-mode-offset);
    right: var(--dark-mode-offset);
  }
  &-switch {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    background-image: url('/icons/moon.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 10px 10px 20px -7px rgba(0, 0, 0, 0.75);
  }

  &-circle {
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    &--dark {
      background-color: black;
      &-animate {
        animation: scale 3s ease-in-out;
      }
    }
    &--light {
      background-color: white;
      animation: scale2 3s ease-in-out;
    }
  }
}

[data-theme='dark'] {
  --bg-color: black;
  h1,
  h2,
  h3,
  p,
  a,
  .block a {
    color: white;
  }
  header .logo,
  .cross-asset,
  .tools img {
    filter: invert(1);
  }
  &::before {
    filter: invert(1);
    background-color: rgb(219, 218, 218);
  }

  .menu-button {
    border: 1px solid var(--green);
    fill: var(--green);
  }
  .open-menu:hover {
    fill: var(--green);
  }
  .dark-mode-switch {
    background-image: url('/icons/sun.svg');
    background-size: 40px;
    &:hover {
      animation: rotate 1s ease;
    }
  }
}

.z-layer:not(:first-child) {
  filter: brightness(0.7);
}
html,
body {
  margin: 0px;
  height: auto;
  overflow: hidden;
  position: relative;
  font-family: 'NeueMontreal';
  background-size: 150px, 100% 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/images/noise.png'), white;
  }
}

/* Page Loader */
.loading::after,
.loading {
  content: '';
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.loading {
  background: var(--green);
}

.loading::after {
  width: 100%;
  height: 100%;
  background-image: url('/images/asset.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  opacity: 0.4;
  animation: loaderAnim 1s linear infinite alternate forwards;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

a::before,
a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
a::before {
  content: '';
}
a {
  position: relative;
  white-space: nowrap;
}
a::before {
  height: 10px;
  border-radius: 20px;
  top: 100%;
  opacity: 0;
}

a:hover::before {
  opacity: 1;
  animation: lineUp 0.3s ease forwards;
}

a::after {
  content: '';
  transition: opacity 0.3s;
  opacity: 0;
  transition-delay: 0s;
}

a:hover::after {
  opacity: 1;
  transition-delay: 0.3s;
}
.navbar {
  position: fixed;
  height: 15vh;
  top: 0;
  left: 0;
  background-color: var(--bg-color);
  z-index: 3;
  width: 100%;

  .nav {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
  }
  .cross-asset {
    width: 100px;
    img {
      width: 100%;
    }
  }
  .logo {
    top: 15%;
    width: 150px;
    img {
      width: 100%;
    }
  }
  .nav-links {
    margin-right: 5%;
    width: 400px;
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
    }
  }
}
.menu-button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--blue);
  width: 64px;
  height: 64px;
  display: inline-grid;
  place-items: center;
}

.menu-button:focus {
  outline: none;
}
.open-menu {
  fill: var(--blue);
}

.open-menu svg {
  transition: transform 0.5s ease;
}

.open-menu:focus-visible,
.open-menu:hover {
  fill: var(--blue);
  border-color: var(--green);
}

.open-menu:hover svg {
  transform: scale(1.1);
}
.button-close {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--green);
  margin: 2rem;
  stroke: white;
  fill: none;
  transform: rotate(180deg);
}

.button-close:focus-visible,
.button-close:hover {
  stroke: var(--blue);
  background-color: var(--green);
}
.menu-wrap {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--blue);
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.menu-wrap.menu-wrap--open {
  pointer-events: auto;
  opacity: 1;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu__item {
  font-size: 9vw;
  color: white;
  line-height: 1;
  text-align: right;
  will-change: opacity, transform;
}

.tiles {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  opacity: 0.5;
  flex-direction: column;
  justify-content: center;
  transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
}

.tiles__line {
  display: flex;
  transform: translateX(25%);
  animation: runner 10s linear infinite;
}

.tiles__line:nth-child(2) {
  animation-duration: 16s;
}

.tiles__line:nth-child(3) {
  animation-duration: 22s;
}

.tiles__line-img {
  flex: none;
  width: 30vh;
  height: 30vh;
  margin: 3vw;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}

.tiles__line-img--large {
  background-position: center;
  width: 100vh;
  border-radius: 20vh;
}
main {
  width: 100%;
  height: 100%;
  position: relative;
  & > * {
    position: relative;
  }
}

footer {
  height: 90vh;
  margin-bottom: calc(-1 * var(--dark-mode-offset));
  padding: 20px 5%;
  padding-top: 100px;
  background: url('/images/noise.png'),
    radial-gradient(circle, var(--blue) 0%, var(--green) 100%);
  background-size: 150px, 100% 100vh;
  background-attachment: fixed;

  display: grid;
  align-items: flex-end;
  .logo {
    img {
      width: 200px;
    }
  }
  .cta {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h1 {
      margin: 0px;
      z-index: 2;
      color: white;
      max-width: 700px;
      text-shadow: -7px 5px 15px var(--blue);
      text-transform: uppercase;
      line-height: 1.5;
      max-width: 600px;
      font-size: clamp(1.5rem, 3vw, 6.5rem);
    }
    .btn {
      max-width: 200px;
      z-index: 2;
      margin-top: 5px;
    }
  }

  .footer-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      font-size: 40px;
    }
    .links {
      display: flex;
      gap: 100px;
    }
    .nav-links {
      display: flex;
    }
  }
  .credits {
    align-self: flex-end;
    h3 {
      font-weight: 500;
    }
    .icons {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
    }
  }
}
.social-links,
footer .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  margin-top: 20px;
  .link img {
    width: 30px;
  }
}
// UTILS
.btn {
  margin-top: 50px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: 'NeueMontreal';
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;

  &.p-10 {
    padding: 20px;
  }
  &-primary {
    color: white !important;
    background-color: var(--blue);
    &:hover {
      color: var(--blue) !important;
      background-color: var(--green);
    }
  }
  &-outline {
    background-color: white;
    border: 1px solid var(--green);
    color: var(--blue) !important;
    &:hover {
      background-color: var(--green);
    }
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  // justify-content: space-between;
  gap: 50px;
}
.embla__slide {
  flex: 0 0 50px;
  min-width: 0;
  &:is(:last-child) {
    margin-right: 50px;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1000;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  fill: var(--green);
}

@keyframes runner {
  to {
    transform: translateX(-25%);
  }
}
@keyframes rotate {
  to {
    transform: rotate(180deg);
  }
}
@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.5, 0.5, 1);
  }
}

@keyframes lineUp {
  0% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 0.045, 1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scale3d(1, 1, 1);
  }

  51% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 1, 1);
  }

  100% {
    transform-origin: 50% 0%;
    transform: scale3d(1, 0.045, 1);
  }
}
@keyframes scale {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(100);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes scale2 {
  0% {
    opacity: 1;
  }
  50% {
    transform: scale(100);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@media screen and (max-width: 600px), (max-height: 500px) {
  body {
    padding: 0px var(--body-padding);
  }
  .navbar {
    .logo {
      width: 90px;
    }
    .cross-asset {
      width: 40px;
    }
    .nav {
      padding: 0px 10px;
    }
    .menu {
      gap: 30px;
    }
    .menu-button {
      width: 50px;
      height: 50px;
    }
  }
  footer {
    height: auto;
    margin-left: calc(-1 * var(--body-padding));
    margin-right: calc(-1 * var(--body-padding));

    .logo {
      img {
        width: 120px;
      }
    }
    .cta {
      max-width: none;
      gap: 20px;
      h1 {
        font-size: clamp(1.5rem, 0.5vw, 1rem);
      }
    }
    .credits {
      font-size: 12px;
    }
  }
}
@media screen and (max-height: 500px) {
  .navbar {
    height: 20vh;

    .menu__item {
      font-size: 5vw;
    }
  }
}

@media screen and (min-width: 340px) and (max-width: 767px) {
  footer {
    height: auto;
    margin-right: calc(-1 * var(--body-padding));
    margin-left: calc(-1 * var(--body-padding));

    .footer-links {
      flex-direction: column;
      gap: 20px;
    }
    .cta {
      gap: 20px;
      h1 {
        font-size: clamp(1.5rem, 1vw, 3rem);
      }
    }

    .links {
      width: 100%;
      justify-content: space-between;
    }
    .social-links {
      .link img {
        width: 25px;
      }
    }
    .credits {
      font-size: 12px;
    }
  }
}
