nav.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  div.logo {
    font-size: clamp(1.5rem, 0.8689rem + 2.8049vw, 4.375rem);
  }
  ul.nav-links {
    width: 400px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
main {
  width: 100%;
  height: 100%;
}

section.hero {
  height: 100vh;
  display: flex;

  aside {
    width: 8%;
    height: 100%;
    padding-right: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    > div:nth-child(1) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  .social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-top: 20px;
    .link img {
      width: 24px;
    }
  }

  .hero-main {
    display: flex;
    flex-direction: column;
    width: 92%;
    height: auto;
    background-color: var(--grey);
    padding-top: 120px;

    .subtitle {
      --subtitle-height: 50px;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 80%;
      height: 10%;
      margin: 0 auto;
      .rule {
        height: var(--subtitle-height);
      }
      p {
        max-height: var(--subtitle-height);
        max-width: 350px;
        line-height: 22px;
        margin-left: 20px;
      }
    }

    .title {
      height: 90%;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      .greetings {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        h1 {
          font-size: clamp(
            0.75rem,
            0.6402rem + 0.4878vw,
            1.25rem
          ); //min - 12px, max- 20px
          font-weight: normal;
          margin: 0px;
          margin-right: 30px;
        }
      }
      div.role {
        margin-left: -5.6%;
        position: absolute;
        max-width: 50%;

        h1.role {
          text-transform: uppercase;
          font-weight: 500;
          font-size: clamp(2.5rem, 0.9909rem + 8.4vw, 9.375rem);
          margin: 0px;
          letter-spacing: -8px;
          line-height: 1em;
        }
      }
    }
    .intro {
      display: flex;
      flex-grow: 1;
      height: auto;
      margin-top: 4%;
      &-left,
      &-right {
        margin-top: 8%;
      }
      &-left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        height: auto;
        background-color: var(--green);
        padding-right: 5%;
        h2 {
          font-weight: normal;
          .rule {
            width: 40px;
            opacity: 100%;
            margin-left: 10px;
          }
          span {
            display: block;
            &:nth-child(1) {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      &-headshot {
        display: flex;
        align-items: flex-end;
        height: 100%;
        width: 300px;
        margin-left: 10%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 45%;
        background-color: var(--blue);
        color: white;

        .content {
          padding: 0 15%;
        }
        h2 {
          font-weight: normal;

          &::after {
            content: '';
            display: block;
            height: 3px;
            width: 50px;
            background-color: white;
          }
        }
        p {
          margin-bottom: 30px;
          line-height: 24px;
          max-width: 100%;
        }
        a {
          color: white;

          img {
            display: inline-block;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
.projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 50px 12rem;
  &-header {
    h1 {
      font-weight: normal;
      font-size: clamp(1.25rem, 0.9756rem + 1.2195vw, 2.5rem);
      text-align: center;
    }
  }
  &-categories ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    font-family: 'Inter';
    font-size: 14px;
    border-bottom: 3px solid var(--grey);
  }
  &-category {
    $parent: &;

    a {
      color: var(--dark-grey);
    }
    &.active {
      a {
        color: black;
      }
      font-weight: 500;

      &::after {
        position: relative;
        top: 20px;
        border-bottom: 3px solid black;
        display: block;
        content: '';
      }
    }

    span.number {
      display: inline-block;
      margin-left: 10px;
      background-color: var(--grey);
      padding: 5px 10px 5px 10px;
      border-radius: 50%;
    }
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
    padding-top: 50px;
    --card-radius: 25px;
    &-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 30%;
      height: 350px;
      border-radius: var(--card-radius);
      background-position: center;

      &-image {
        height: 100%;
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      p {
        max-width: 100%;
        font-size: 12px;
      }
      &-description {
        background: rgba(84, 84, 84, 0.3);
        backdrop-filter: blur(10px);
        padding: 10px 20px;
        color: white;
        border-radius: 0px 0px var(--card-radius) var(--card-radius);

        h3 {
          margin: 0px;
        }
      }

      &-technologies {
        &-pill {
          font-size: 12px;
          font-weight: 500;
          display: inline-block;
          background-color: black;
          padding: 5px 10px;
          border-radius: 50px;
        }
      }
    }
    &-button {
      margin-top: 50px;
      border-color: var(--blue);
      color: var(--blue);
      background-color: white;
      border-radius: 15px;
      padding: 15px;
      cursor: pointer;
      font-family: 'NeueMontreal';
      font-weight: 500;
      font-size: 16px;
    }
  }
}
