.content {
  padding-top: 50vh;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  gap: 2rem;
  grid-template-columns: 100%;
  grid-template-areas:
    'text'
    'block';

  grid-template-rows: auto 70vh auto;

  &--center {
    grid-template-areas:
      'title'
      'text'
      'block';
  }

  &--center-text {
    display: block;
  }
}

.title {
  grid-area: title;
  font-weight: inherit;
  margin-bottom: 5vh;
}

.text {
  grid-area: text;
  margin: 0;
  font-size: clamp(2rem, 4.75vw, 5rem);
  text-transform: none;
  line-height: 1.1;
  font-weight: normal;
}

.expanding-text {
  vertical-align: top;
  display: inline-grid;
  grid-template-columns: min-content;

  &--inline {
    display: grid;
  }

  &--center,
  &--full {
    display: block;
  }
}

.text--open .expanding-text {
  height: 40vh;
}

.expanding-text-img {
  display: block;
  position: relative;
  aspect-ratio: 16/9;
  width: 0px;
  height: 100%;
  overflow: hidden;
  border-radius: 4rem;
}

.expanding-text-img-inner {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.text--open .expanding-text-img {
  width:300px;
}

.anim {
  display: inline-block;
  white-space: nowrap;
}

.block {
  grid-area: block;
  margin: 90px 0px;
  max-width: 400px;
  line-height: 1.5;
  font-size: 18px;
  color: black;
  a {
    color: black;
    text-decoration: underline;
  }
}

.tools {
  width: 100%;
  padding: 15vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: clamp(2rem, 2.5vw, 5rem);
    text-align: center;
  }

  > div {
    width: 90%;
    margin-bottom: 50px;

    h2 {
      font-size: clamp(1.5rem, 0.5vw, 2rem);
      text-align: left;
    }
    img {
      width: 100%;
      height: 100px;
    }
  }
  .tool-name {
    text-align: center;
  }
}

.testimonials {
  position: sticky;
  top: 200px;
  --offset: 100px;
  top: var(--offset);
  height: calc(100vh - var(--offset));
  color: white;
  background: url('/images/noise.png');
  background-color: var(--blue);
  background-size: 150px, 100% 100vh;
  background-attachment: fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: clamp(2rem, 2.5vw, 5rem);
    margin: 100px;
  }
  .testimonial {
    &-cards {
      &-wrapper {
        width: 80%;
        margin-bottom: 100px;
        display: flex;
        justify-content: center;
      }
    }
    &-card {
      flex-basis: 30%;

      padding: 20px 40px;

      border-radius: var(--card-radius);

      p {
        font-weight: 500;
        &::before {
          content: '';
          display: block;
          mask-image: url('/icons/quote.svg');
          background-color: var(--green);
          mask-repeat: no-repeat;
          width: 60px;
          height: 60px;
        }
      }
      .name {
        font-weight: 500;
        font-size: 16px;
        margin: 20px 0px 10px 0px;

        a {
          color: var(--green);
        }
      }
      .job {
        font-size: 14px;
      }

      &:hover {
        background-color: var(--green);

        p::before {
          background-color: var(--blue);
        }
        .name a {
          color: var(--blue);
        }
        .job {
          color: var(--blue);
        }
      }
    }
  }
}
.hobbies {
  --perspective: 1500px;
  --grid-item-ratio: 1;
  --grid-width: 100%;
  --grid-height: auto;
  --grid-gap: 1vw;
  --grid-columns: 4;
  --grid-inner-scale: 1;
  position: relative;
  padding-bottom: 50vh;
  padding-top: 50vh;

  .hobbies__title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      font-weight: 400;
      font-size: clamp(1.5rem, 3vw, 6.5rem);
      margin: 0px;
      margin-bottom: 50px;
      max-width: 50%;
    }

    video {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
  }

  .hobbies-grid {
    display: grid;
    place-items: center;
    padding: 2rem;
    width: 100%;
    margin-top: 70vh;
    perspective: var(--perspective);
  }

  .hobbies-grid-wrap {
    height: var(--grid-height);
    width: var(--grid-width);
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gap);
    transform-style: preserve-3d;
  }

  .hobbies-grid__item {
    aspect-ratio: var(--grid-item-ratio);
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    display: grid;
    place-items: center;
  }

  .hobbies-grid__item-inner {
    position: relative;
    width: calc(1 / var(--grid-inner-scale) * 100%);
    height: calc(1 / var(--grid-inner-scale) * 100%);
    background-size: cover;
    background-position: 50% 50%;
  }
}

.blog {
  height: 99vh;
  display: flex;
  margin-bottom: 12vh;
  flex-direction: column;
  align-items: center;
  &-cards-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: clamp(1.5rem, 2vw, 6.5rem);
      text-align: center;
      margin-bottom: 100px;
    }
  }
  &-cards {
    display: grid;
    gap: 2%;
    flex-grow: 1;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 1;
    border: 2px solid var(--green);
    border-radius: var(--card-radius);
    height: auto;
    max-height: 700px;

    &-description {
      background: rgba(84, 84, 84, 0.3);
      backdrop-filter: blur(10px);

      padding: 20px;
      color: white;
      border-radius: 0px 0px var(--card-radius) var(--card-radius);
      h3 {
        margin: 0px;
        font-weight: 500;
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
      }
      a {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
@media screen and (min-width: 40em) {
  .content-left {
    grid-template-columns: auto auto;
    grid-template-rows: auto 19vw auto;
    grid-template-areas:
      'text text'
      '. block';
  }
  .content--center {
    text-align: center;
    place-items: center;
    grid-template-areas:
      'title'
      'text'
      'block';
    grid-template-rows: auto 40vw auto;
  }
  .content--center-text:is(:last-child) {
    align-self: start;
    &::after {
      content: '- Christopher Zeeman';
      font-size: 20px;
    }
  }
  .content--right {
    grid-column-gap: 10vw;
    grid-template-columns: auto 55%;
    grid-template-areas: 'block title' 'block text';
    grid-template-rows: auto 50vw;
    text-align: right;
    justify-content: end;
  }
  .content--right .block {
    margin-top: 40vh;
  }

  .expanding-text--inline {
    gap: 0.1em;
    display: inline-grid;
    grid-template-columns: repeat(2, min-content);
  }
  .text--open .expanding-text-img {
    max-width: 50vw;
  }
  .expanding-text--center {
    display: inline-grid;
    gap: 0.15em;
    justify-content: center;
    grid-template-columns: 1fr min-content 1fr;
  }

  .expanding-text--full {
    width: 100%;
    grid-template-columns: 100%;
  }
  .expanding-text--full .expanding-text-img {
    margin-left: auto;
  }
  .aright {
    text-align: right;
  }
  .anim {
    height: 100px;
  }

  .embla__container {
    gap: 100px;
  }
}
@media only screen and (min-width: 340px) and (max-width: 767px) and (min-height: 500px) {
  .content {
    padding-top: 60vh;
  }
  .projects {
    padding: 15vh 0;
    &-cards {
      grid-template-columns: 1fr;
    }
  }

  .testimonials {
    margin: 0px calc(-1 * var(--body-padding));
    h1 {
      margin: 50px 20px;
      font-size: clamp(1.5rem, 1vw, 3rem);
      text-align: center;
    }

    .testimonial {
      &-cards-wrapper {
        // width: 100%;
      }
      &-card {
        max-width: 300px;
      }
    }
    p {
      font-size: 14px;
    }
  }
  .blog {
    &-cards {
      grid-template-columns: 1fr;
    }

    &-card {
    }
  }
}
