.projects {
  display: flex;
  flex-direction: column;

  padding: 15vh 10%;
  &-header {
    text-align: center;
  }
  &-categories ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    font-family: "Inter";
    font-size: 14px;
    border-bottom: 3px solid var(--grey);
  }
  &-category {
    a {
      color: var(--dark-grey);
    }
    &.active {
      a {
        color: black;
      }
      font-weight: 500;

      &::after {
        position: relative;
        top: 20px;
        border-bottom: 3px solid black;
        display: block;
        content: "";
      }
    }

    span.number {
      display: inline-block;
      margin-left: 10px;
      background-color: var(--grey);
      padding: 5px 10px 5px 10px;
      border-radius: 50%;
    }
  }
  &-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 40px;
    padding-top: 50px;
    &-wrapper {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

  }
  .btn-primary {
    margin-top: 100px;
    font-size: 20px;
  }
}

@media only screen and (min-width: 340px) and (max-width: 850px) and (min-height: 500px) {
  .projects {
    padding: 15vh 0;
    &-cards {
      grid-template-columns: 1fr;
    }
  }
}
