---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/about.scss'
---

<BaseLayout title='about me'>
	<div class='content content--left'>
		<h2 class='type' data-expand-1>
			hi, i'm chubi.<br />
			welcome<br />
			to my
			<span class='type__expand type__expand--inline type__expand--reveal'>
				<span class='type__expand-img'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/self.jpeg);'></span>
				</span>
				<span class='anim skewed'>cyber space.</span>
			</span>
		</h2>
		<p class='block'>
			I'm a versatile full-stack software engineer driven by a passion for making beautiful
			things. With over 3 years of diverse industry experience spanning e-commerce,
			education, and my current role in the environmental sector, I specialize in developing
			data-driven products that drive positive change on a global scale.
		</p>
	</div>
	<div class='content content--center'>
		<h3 class='meta'>Technical Skills</h3>
		<h2 class='type' data-expand-2>
			Technical skill <br />
			is mastery of complexity<br />
			<span class='type__expand type__expand--reveal type__expand--center'>
				<span class='aright'>while </span>
				<span class='type__expand-img'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/self1.jpeg);'></span>
				</span>
				<span class='anim'>creativity</span>
			</span>
			<br />
			is mastery of simplicity.
		</h2>
		<p class='block'>
			I strive to balance complexity and simplicity in all my work, using complex tools to
			create simple solutions.
		</p>
	</div>
	<div class='content content--right'>
		<h3 class='meta'>Project 3</h3>
		<h2 class='type' data-expand-3>
			Let the miles unfurl<br />
			like stories each<br />
			<span class='type__expand type__expand--full'>
				<span class='type__expand-img'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/3.jpeg);'></span>
				</span>
			</span>
			one a breath in the<br />
			saga of the soul.
		</h2>
		<p class='block'>
			As we delve deeper into the mysteries of the cosmos, we encounter the profound
			realization that the universe itself breathes in a rhythm of creation and dissolution,
			a cosmic dance that mirrors the cycles of life and death on our own planet. Stars are
			born from the dust, shining fiercely against the dark, only to eventually fade or
			explode in a dazzling finale, their remnants seeding future stars, planets, and
			perhaps, life itself. This celestial cycle reflects the very essence of the Dao,
			emphasizing the interconnectedness of all things, the perpetual motion and
			transformation that is the hallmark of existence.
		</p>
	</div>
	<div class='content content--justify'>
		<h3 class='meta'>Project 4</h3>
		<h2 class='type' data-expand-4>
			Soar above
			<span class='type__expand type__expand--stack'>
				<span class='anim rotated'>peaks</span>
				<span class='type__expand-img type__expand-img--small'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/1.jpeg);'></span>
				</span>
			</span>
			into
			<span class='type__expand type__expand--stack'>
				<span class='anim rotated'>clouds,</span>
				<span class='type__expand-img type__expand-img--small'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/5.png);'></span>
				</span>
			</span>
			<br />
			and the whispers of the wind<br />
			like
			<span class='type__expand type__expand--stack'>
				<span class='type__expand-img type__expand-img--small'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/6.jpeg);'></span>
				</span>
				<span class='anim rotated'>echoes,</span>
			</span>
			in the wast sky.
		</h2>
		<p class='block aright'>
			In this grand scheme, our human concerns, our joys and sorrows, ambitions and fears,
			are but echoes of the universal patterns of change and continuity. The Dao teaches us
			to see beyond the illusion of permanence, to embrace change as the only constant. It
			invites us to let go of our rigid expectations and to flow with the natural order of
			things, finding peace in the acceptance that we are part of something far greater, a
			narrative written not just across the ages, but across the endless expanse of space and
			time.
		</p>
	</div>
	<div class='content content--line'>
		<h3 class='meta'>Project 5</h3>
		<h2 class='type' data-expand-5>
			Sail
			<span class='type__expand type__expand--mini'>
				<span class='type__expand-img type__expand-img--tiny'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/7.jpeg);'></span>
				</span>
			</span>
			across the cosmic
			<span class='type__expand type__expand--mini'>
				<span class='type__expand-img type__expand-img--tiny'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/8.jpeg);'></span>
				</span>
			</span>
			sea,<br />
			where stars compose
			<span class='type__expand type__expand--mini'>
				<span class='type__expand-img type__expand-img--tiny'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/9.jpeg);'></span>
				</span>
			</span>
			the melody<br />
			of the universe, weaving the
			<span class='type__expand type__expand--mini'>
				<span class='type__expand-img type__expand-img--tiny'>
					<span
						class='type__expand-img-inner'
						style='background-image: url(/images/about/optimised/11.png);'></span>
				</span>
			</span>
			grand<br />
			tapestry of existence into<br />
			an endless dance.
		</h2>
		<p class='block aleft'>
			This perspective imbues our lives with a sense of wonder and humility, urging us to
			live with intention, to cherish each moment as a precious thread in the intricate weave
			of the universe. It challenges us to find balance within ourselves and in our
			interactions with the world around us, to seek not dominion, but harmony, recognizing
			that in the grand cosmic dance, every step, every turn, contributes to the beauty of
			the whole.
		</p>
	</div>
	<script src='../js/about.js'></script>
</BaseLayout>
