---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title='Hobbies'>
	<section class='hobbies'>
		<div class='content content--right'>
			<h3 class='title'>Hobbies</h3>
			<h2 class='text' data-expand-3>
				I am not an artist<br />
				or a photographer<br />
				<span class='expanding-text expanding-text--full'>
					<span class='expanding-text-img'>
						<span
							class='expanding-text-img-inner'
							style='background-image: url(/images/8.jpeg);'></span>
					</span>
				</span>
				but I am trying to be.<br />
			</h2>
			<p class='block'>
				When I was 15 I discovered I enjoyed snapping pics on my phone. At 18 I discovered
				I enjoyed scribbling lines on paper. Since then I have strived to see how far I can
				take them.
			</p>
		</div>
		<div class='hobbies-grid hobbies-grid--4'>
			<div class='hobbies-grid-wrap'>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/1.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/2.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/3.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/4.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/5.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/6.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/7.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/19.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/8.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/9.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/10.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/11.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/12.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/13.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/14.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/15.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/16.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/17.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/18.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/19.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/20.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/21.png)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/22.jpg)'
					>
					</div>
				</div>
				<div class='hobbies-grid__item'>
					<div
						class='hobbies-grid__item-inner'
						style='background-image:url(/images/photography/23.png)'
					>
					</div>
				</div>
			</div>
		</div>
		<div class='hobbies__title'>
			<h3>Visual manifestations of my mind's eye</h3>
			<div class='video-container'>
				<video loop autoplay poster='/images/poster.jpeg'>
					<source src='/videos/timelapse.mp4' type='video/mp4' />
					<img
						alt='a timelapse of me drawing abstract art'
						src='/images/poster.jpeg'
						title='No video playback capabilities'
					/>
				</video>
			</div>

			<a href='#' class='btn btn-outline p-10'>see my work</a>
		</div>
	</section>
</BaseLayout>
