---
import '../styles/global.css'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<section class='hero'>
				<nav>
					<div class='logo'>Chubiyojo Adejoh</div>
					<ul class='nav-links'>
						<li>resume</li>
						<li>latest work</li>
						<li>blog</li>
						<li>schedule a call</li>
					</ul>
				</nav>
				<aside>
					<div class='vertical-rule'></div>
					<div class='social-links'>
						<a href='twitter' class='link'></a>
						<a href='linkedin' class='link'></a>
						<a href='github' class='link'></a>
					</div>
				</aside>
				<div class='hero-main'>
					<div class='greetings'>
						<div class='left'>
							<h1>Hello There</h1>
							<div class='horizontal-rule'></div>
						</div>
						<div class='right'>
							<div class='vertical-rule'></div>
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
								officiis quam non,
							</p>
						</div>
					</div>
					<div class='title'>
						<h1 class='role'>Software Engineer</h1>
						<div class='intro'>
							<div class='intro-left'>
								<h2>
									<span>live</span>
									<div class='horizontal-rule'></div>
									<span>Create.</span>
									<span>Repeat.</span>
								</h2>
								<div class='intro-image'>
									<img src='' alt='intro image' />
								</div>
							</div>
							<div class='intro-right'>
								<h2>Meet Chubi</h2>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit.
									Corporis nostrum in maxime tempora aliquam expedita libero
									numquam corrupti illum, repellendus aperiam architecto harum
									repellat ut sequi assumenda vitae delectus itaque.
								</p>
								<a href='' class='cta'>Get in touch</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class='projects'>
				<nav class='projects-categories'>
					<ul>
						<li>All Projects <span class='number'>6</span></li>
						<li>Live Projects <span class='number'>6</span></li>
						<li>Personal Projects <span class='number'>6</span></li>
						<li>Fullstack <span class='number'>6</span></li>
						<li>Frontend <span class='number'>6</span></li>
						<li>Backend <span class='number'>6</span></li>
						<li>Machine Learning <span class='number'>6</span></li>
						<li>Data Analysis <span class='number'>6</span></li>
					</ul>
				</nav>
				<div class='project-cards'>
					<div class='card'>
						<div class='image'>
							<img src='' alt='' />
						</div>
						<div class='description'>
							<h3>Maliko Portfolio</h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
								reprehenderit iusto ipsum ad fugit
							</p>
							<div class='technologies'>
								<span class='pill'>Javascript</span>
								<span class='pill'>React</span>
								<span class='pill'>CSS</span>
							</div>
						</div>
					</div>
					<button class='show-projects'>Show more</button>
				</div>
			</section>
			<section id='hobbies'>
				<div class='skill-pill'>
					<p>Skills and hobbies</p>
				</div>
				<h1 class='heading'>I love to take photographs</h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi obcaecati officia
					enim est, provident esse quaerat. Quae dolore porro iure excepturi, ad id
					deserunt, incidunt labore quaerat earum iste hic?
				</p>
				<button>See more of my work</button>
			</section>
			<section class='testimonials'>
				<h4 class='heading'>Testimonials</h4>
				<h1>Endorsements from people I've worked with</h1>
				<div class='testimonials-slider'>
					<div class='testimonial'>
						<div class='image-wrapper'>
							<div class='testimonial-image-top-left-asset'></div>
							<div class='testimonial-image-bottom-right-asset'></div>
						</div>
						<div class='text-wrapper'>
							<div class='quote-asset'></div>
							<div class='text'>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. At
									accusamus, laboriosam blanditiis non perferendis sequi. Facere
									suscipit tenetur quaerat ipsam laborum temporibus repellendus
									saepe officiis illo voluptatibus, reiciendis eveniet dolores.
								</p>

								<div class='person'>
									<p class='name'>Deborah Adamu</p>
									<p class='title'>Accountant</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class='cta-hero'>
				<div class='hero'>
					<div class='assets-wrapper'></div>
					<h1>Ready to build something amazing?</h1>
					<button>Lets have a chat!</button>
				</div>
			</section>
			<div class='to-top'></div>
		</main>
	</body>
</html>
