---
import '../styles/global.scss'
import '../styles/index.scss'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<div class='logo'>Chubiyojo</div>
			<ul class='nav-links'>
				<li><a href='#'> resume </a></li>
				<li><a href='#'> latest work </a></li>
				<li><a href='#'> blog </a></li>
				<li><a href='#'> schedule a call </a></li>
			</ul>
		</nav>
		<main>
			<section class='hero'>
				<aside>
					<div>
						<div class='rule-container'>
							<span class='rule rule--vertical'></span>
						</div>
						<div class='social-links'>
							<a href='#' class='link'>
								<img src='/public/icons/twitter.svg' alt='twitter icon' />
							</a>
							<a href='#' class='link'>
								<img src='/public/icons/linkedin.svg' alt='linkedin icon' />
							</a>
							<a href='#' class='link'>
								<img src='/public/icons/github.svg' alt='github icon' />
							</a>
						</div>
					</div>
				</aside>
				<div class='hero-main'>
					<div class='subtitle'>
						<div class='rule rule--vertical'></div>
						<p>
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
							officiis quam non,
						</p>
					</div>
					<div class='title'>
						<div class='role'>
							<div class='greetings'>
								<h1>Hello There</h1>
								<div class='rule rule--horizontal'></div>
							</div>
							<h1 class='role'>Software Engineer</h1>
						</div>
						<div class='intro'>
							<div class='intro-left'>
								<h2>
									<span>
										<span>live</span>
										<div class='rule rule--horizontal'></div>
									</span>
									<span>create.</span>
									<span>repeat.</span>
								</h2>
								<div class='intro-headshot'>
									<img src='public/images/headshot.png' alt='headshot' />
								</div>
							</div>
							<div class='intro-right'>
								<div class='content'>
									<h2><span>Meet</span> Chubi</h2>
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit.
										Corporis nostrum in maxime tempora aliquam expedita libero
										numquam corrupti illum, repellendus aperiam architecto harum
										repellat ut sequi assumenda vitae delectus itaque.
									</p>
									<a href='#'>
										<span>Get in touch </span>
										<img src='/public/icons/arrow.svg' alt='arrow' />
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class='projects'>
				<div class='projects-header'>
					<h1>Projects</h1>
					<nav class='projects-categories'>
						<ul>
							<li>All Projects <span class='number'>6</span></li>
							<li>Live Projects <span class='number'>6</span></li>
							<li>Personal Projects <span class='number'>6</span></li>
							<li>Fullstack <span class='number'>6</span></li>
							<li>Frontend <span class='number'>6</span></li>
							<li>Backend <span class='number'>6</span></li>
							<li>Machine Learning <span class='number'>6</span></li>
							<li>Data Analysis <span class='number'>6</span></li>
						</ul>
					</nav>
				</div>
				<div class='project-cards'>
					<div class='card'>
						<div class='image'>
							<img src='' alt='' />
						</div>
						<div class='description'>
							<h3>Maliko Portfolio</h3>
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
								reprehenderit iusto ipsum ad fugit
							</p>
							<div class='technologies'>
								<span class='pill'>Javascript</span>
								<span class='pill'>React</span>
								<span class='pill'>CSS</span>
							</div>
						</div>
					</div>
					<button class='show-projects'>Show more</button>
				</div>
			</section>
			<section id='hobbies'>
				<div class='skill-pill'>
					<p>Skills and hobbies</p>
				</div>
				<h1 class='heading'>I love to take photographs</h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi obcaecati officia
					enim est, provident esse quaerat. Quae dolore porro iure excepturi, ad id
					deserunt, incidunt labore quaerat earum iste hic?
				</p>
				<button>See more of my work</button>
			</section>
			<section class='testimonials'>
				<h4 class='heading'>Testimonials</h4>
				<h1>Endorsements from people I've worked with</h1>
				<div class='testimonials-slider'>
					<div class='testimonial'>
						<div class='image-wrapper'>
							<div class='testimonial-image-top-left-asset'></div>
							<div class='testimonial-image-bottom-right-asset'></div>
						</div>
						<div class='text-wrapper'>
							<div class='quote-asset'></div>
							<div class='text'>
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. At
									accusamus, laboriosam blanditiis non perferendis sequi. Facere
									suscipit tenetur quaerat ipsam laborum temporibus repellendus
									saepe officiis illo voluptatibus, reiciendis eveniet dolores.
								</p>

								<div class='person'>
									<p class='name'>Deborah Adamu</p>
									<p class='title'>Accountant</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class='cta-hero'>
				<div class='hero'>
					<div class='assets-wrapper'></div>
					<h1>Ready to build something amazing?</h1>
					<button>Lets have a chat!</button>
				</div>
			</section>
			<div class='to-top'></div>
		</main>
	</body>
</html>
