<div class='projects-nav'>
	<nav class='projects-categories'>
		<ul>
			<li class='projects-category active'>
				<a role='button' href='#'>All Projects <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Live Projects <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Personal Projects <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Fullstack <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Frontend <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a href='#' role='button'> Backend <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Machine Learning <span class='number'>6</span></a>
			</li>
			<li class='projects-category'>
				<a role='button' href='#'>Data Analysis <span class='number'>6</span></a>
			</li>
		</ul>
	</nav>
</div>
