---
import { navLinks } from '../js/data'
---

<footer>
	<div class='footer-links'>
		<div class='logo'>
			<a href='/'>
				<span data-z data-z-depth='2px'>
					<img src='/images/logo_.png' alt='logo' /></span
				></a
			>
		</div>
		<div class='cta'>
			<h1>think we could create something beautiful?</h1>
			<a href='/contact' class='btn btn-primary p-10'>lets do it!</a>
		</div>
		<div class='links'>
			<ul class='nav-links'>
				{
					navLinks.map((navLink) => (
						<li>
							<a class='nav-link' href={`${navLink.link}`}>
								{navLink.name}
							</a>
						</li>
					))
				}
			</ul>

			<div class='social-links'>
				<a href='#' class='link'>
					<img src='/icons/twitter.svg' alt='twitter icon' />
				</a>
				<a href='#' class='link'>
					<img src='/icons/linkedin.svg' alt='linkedin icon' />
				</a>
				<a href='#' class='link'>
					<img src='/icons/github.svg' alt='github icon' />
				</a>
			</div>
		</div>
	</div>
	<div class='credits'>
		<p>
			Design and animation inspirations: <a href='https://tympanus.net' target='_blank'
				>Codrops,
			</a>
			<a href='https://dmuszynski.com/Projects' target='_blank'>Daniel Muszyński, </a>
			<a href='https://lucianodecrescenzo.it/' target='_blank'>Luciano Decrescenzo, </a>
		</p>
		<p class='icons'>
			<span
				>Java icon by Soetarman Atmodjo from <a
					href='https://thenounproject.com/browse/icons/term/java/'
					target='_blank'
					title='java Icons'>Noun Project</a
				>
			</span>
			<span>
				Postgresql and Amazon Aws by <a
					href='https://iconscout.com/contributors/icon-54'
					target='_blank'>Icon 54</a
				>
			</span>
			<span
				><a target='_blank' href='https://icons8.com/icon/n8viW0X2OYKw/sun'>Sun</a> and <a
					target='_blank'
					href='https://icons8.com/icon/101343/moon-and-stars'>Moon</a
				> icon by <a target='_blank' href='https://icons8.com'>Icons8</a></span
			>
			<span>All other icons from <a href='https://simpleicons.org/'>Simple Icons</a></span>
		</p>
	</div>
</footer>
