---

---

<nav class='navbar'>
	<div class='logo'><a href='/'><img src='/public/images/logo_.png' alt='logo' /></a></div>
	<ul class='nav-links'>
		<li><a href='#'> resume </a></li>
		<li><a href='#'> latest work </a></li>
		<li><a href='/about'> about me </a></li>
		<li><a href='#'> blog </a></li>
		<li><a class='btn btn-outline' href='#'> hmu </a></li>
	</ul>
</nav>
