---

---

<div
	class='card'
	style='background-image: url("https://placehold.co/300x300/lightgrey/lightgrey");'
>
	<div class='card-description'>
		<h3>Maliko Portfolio</h3>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt reprehenderit iusto
			ipsum ad fugit
		</p>
		<div class='card-technologies'>
			<span class='card-technologies-pill'>Javascript</span>
			<span class='card-technologies-pill'>React</span>
			<span class='card-technologies-pill'>CSS</span>
		</div>
	</div>
</div>
