body {
  --brown: #B56433;
  --blanched-almond: #DDD0B9;
  --olive: #5B6634;
  --light-blue: #95BAB2;
  --dark: #212A17;
}

div.App {
  font-family: 'Rubik Microbe';

  height: 100%;
}

div.under-construction {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

div.under-construction h1 {
  letter-spacing: 2px;
  color: var(--dark);
  font-size: 2rem;
}

div.animation {
  width: 30%;
}

div.under-construction footer.footer a {
  color: var(--blanched-almond);
  font-weight: bold;

}



@media only screen and (max-width: 700px) {
  div.under-construction {
    background-image: url('./assets/mob-bg.svg');

    height: 100vh;

  }

  div.animation {
    width: 100%;
  }

  div.under-construction h1 {
    font-size: 2rem;
  }
}