body {
  --brown: #B56433;
  --blanched-almond: #DDD0B9;
  --olive: #5B6634;
  --light-blue: #95BAB2;
  --dark: #212A17;
}

div.App {
  height: 100%;
}

div.under-construction {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-image: url('./assets/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 20%; */
}

div.under-construction h1 {
  font-family: 'Rubik Microbe';
  letter-spacing: 2px;
  color: var(--dark);
}

@media only screen and (max-width: 600px) {
  div.under-construction {
    background-image: url('./assets/mob-bg.svg')
  }
}