---
import '../styles/global.scss'
import { SEO } from 'astro-seo'

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
const { title } = Astro.props
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<SEO
			title={title}
			description=`Hi I'm Chubiyojo and welcome to my Software Developer Portfolio.
			 Explore my diverse projects showcasing my Full-Stack web development expertise in JavaScript, Python, React, and Node.js. 
			 I deliver custom software solution and responsive websites with a focus on performance, scalability, and user experience. 
			 Browse my portfolio to see top-quality work and connect with me for your next project in software engineering, frontend development, or backend development.`
			`
			openGraph={{
				basic: {
					title: title,
					type: 'website',
					image: 'https://raw.githubusercontent.com/chubi-x/portfolio/47edaf257faa662c2754925abd20dee04bdea961/public/images/headshot.png'
				}
			}}
		/>
	</head>

	<body>
		<script>
			window.onload = function () {
				document
					.getElementById('nojs')
					.parentElement.removeChild(document.getElementById('nojs'))
			}
		</script>
		<div
			id='nojs'
			style='width:100vw; height:100vh;position:fixed;top: 0; background-color:white;'
		>
			<h1>Please Enable Javascript to continue</h1>
			<small>pretty please with sprinkles on top :( </small>
		</div>
		<Navbar />
		<main>
			<slot />
		</main>
		<div class='dark-mode-wrapper'>
			<div class='dark-mode-switch'></div>
			<div class='dark-mode-circle'></div>
		</div>

		<Footer />
		<script src='../js/base.js'></script>

		<script src='../js/ztext.min.js'></script>
	</body>
</html>
