---
import '../styles/global.css'
import '../styles/global.scss'
import { SEO } from 'astro-seo'

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
const { title,description } = Astro.props
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<SEO
			title={title}
        description= {` ${description} || "Chubiyojo Adejoh. Software Developer. Welcome to my cyber space!"
        `}
			openGraph={{
				basic: {
        title,
					type: 'website',
        image: 'https://github.com/chubi-x/portfolio/blob/07f0a50647a54f4b1d7368fe1ae2fac87bbc5599/public/images/self2.jpeg'
				}
			}}
		/>
<script defer src="https://cloud.umami.is/script.js" data-website-id="860ecd07-0474-4378-88c3-adfe9956be4f"></script>
	</head>

	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<div class='dark-mode-wrapper'>
			<div class='dark-mode-switch'></div>
			<div class='dark-mode-circle'></div>
		</div>

		<Footer />
		<script src='../js/base.js'></script>
	</body>
</html>
