---
import '../styles/global.css'
import '../styles/global.scss'
import { SEO } from 'astro-seo'

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
const { title } = Astro.props
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<SEO
			title={title}
			description=`Hi I'm Chubiyojo and welcome to my Software Developer Portfolio.
      I like to make beautiful things. I like to make functional things. 
			`
			openGraph={{
				basic: {
        title,
					type: 'website',
					image: 'https://raw.githubusercontent.com/chubi-x/portfolio/47edaf257faa662c2754925abd20dee04bdea961/public/images/headshot.png'
				}
			}}
		/>
	</head>

	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<div class='dark-mode-wrapper'>
			<div class='dark-mode-switch'></div>
			<div class='dark-mode-circle'></div>
		</div>

		<Footer />
		<script src='../js/base.js'></script>
	</body>
</html>
